.todoList{
    display: flex;
    justify-content: space-between;
    /* display: grid; */
    /* grid-template-columns: 10% 85% 5%; */
    width: 100%;
    /* grid-template-columns: 20% 50% 10%; */
}
